rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    function isStaff() {
    	// return get(/databases/$(database)/documents/roles/$(request.auth.uid)).data.role == 'staff';
      return request.auth.token.role == 'staff';
    }
  
    function branchMatch(branchName) {
      return request.auth.token.branch == branchName || request.auth.token.branch == 'מטה'
    }


    // users collection rules
    match /users/{userId} {
      allow read, write: if false;
    }
 
    match /branches/{branchName}/clients/{userId} {
      allow read, write: if isStaff() && branchMatch(branchName);
    }

    match /branches/{branchName}/contacts/{userId} {
      allow read, write: if isStaff() && branchMatch(branchName);
    }


    match /clients/{userId} {
      allow read, write: if isStaff();
    }
    
    // staff collection rules
    
    match /staff/{userId} {
    		allow read, write: if isStaff();
    }

    match /contacts/{contact} {
      allow read, write: if isStaff();
    }
    
  }
}